<%- include("partials/header"); -%> 

<h1>Compose</h1>

<form class="" action="/compose" method="POST">
    <div class="">
        <label for="" class="form-label">Title</label>
        <input type="text" title="Title" name="postTitle">
        <label for="">Post</label>
        <input type="text" title="Post" name="post">
        <button type="submit">Publish</button>
    </div>
</form>

<%- include("partials/footer"); -%> 